<head>
    <link rel="stylesheet" href="../../../../../css/editPost.css">
</head>
<div class="editView">
    <div class="container">
        <div class="edit">
            <div class="table">
                <form action="/admin/post/save" method="post" enctype="multipart/form-data">
                    <div class="row inputs">
                        <input type="hidden" name="entity_id" class="id" value="{{ post.entity_id }}">
                        <input type="text" name="title" placeholder="title" class="title" value="{{ post.title }}">
                        <input type="text" name="description" placeholder="description" class="text" value="{{ post.description }}">
                    </div>
                    <div class="row selector">
                        <select name="category" class="selector">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="image">
                            <img src="data:image/png;base64, {{ img }}"/>
                        </div>
                        <input class="img" type="file" name="picture" multiple accept="image/*">
                    </div>
                    <div class="row">
                        <button class="submit" type="submit">Save!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
